---
const maximData = {
  tip: "座右铭",
  title1: "生活明朗，",
  title2: "万物可爱。"
};
---

<div class="author-content-item maxim">
  <div class="author-content-item-tips">
    {maximData.tip}
  </div>
  <span class="maxim-title">
    <span style="opacity: 0.6; margin-bottom: 8px;">
      {maximData.title1}
    </span>
    <span>
      {maximData.title2}
    </span>
  </span>
</div>

<style scoped>
.maxim {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  background: var(--bg-card);
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  flex: 2;
}

.author-content-item-tips {
  opacity: 0.8;
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}

.maxim-title {
  display: flex;
  flex-direction: column;
}
</style>